# This is a basic workflow to help you get started with Actions

name: CI

# Controls when the action will run. 
on:
  # Triggers the workflow on push or pull request events but only for the main branch
  push:
    branches: [ main ]
  # pull_request:
  #  branches: [ main ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v2
        
      - name: Setup .NET Core
        uses: actions/setup-dotnet@v1
        with:
          dotnet-version: 5.0.101
      
      - name: Install dependencies
        run: dotnet restore
        working-directory: Valigator.OpenApi
      
      - name: Build
        run: dotnet build --configuration Release --no-restore
        working-directory: Valigator.OpenApi
      
      - name: Test
        run: dotnet test --no-restore --verbosity normal
        working-directory: Valigator.OpenApi
        
      - name: Publish
        uses: brandedoutcast/publish-nuget@v2.5.5
        with:
          PROJECT_FILE_PATH: Valigator.OpenApi/Valigator.OpenApi.AspNetCore/Valigator.OpenApi.AspNetCore.csproj  
          NUGET_KEY: ${{secrets.NUGET_API_KEY}} 
          #VERSION_FILE_PATH: Valigator.OpenApi/Version.txt
          #VERSION_REGEX: ^(.*)$

      - name: Publish
        uses: brandedoutcast/publish-nuget@v2.5.5
        with:
          PROJECT_FILE_PATH: Valigator.OpenApi/Valigator.OpenApi.Newtonsoft.Json/Valigator.OpenApi.Newtonsoft.Json.csproj  
          NUGET_KEY: ${{secrets.NUGET_API_KEY}} 
          #VERSION_FILE_PATH: Valigator.OpenApi/Version.txt
          #VERSION_REGEX: ^(.*)$
